[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
[Service]
EnvironmentFile=/var/data/kube-scheduler/kube-scheduler.env
ExecStart=/usr/local/bin/kube-scheduler
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target