[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
[Service]
EnvironmentFile=/var/data/kube-controller-manager/kube-controller-manager.env
ExecStart=/usr/local/bin/kube-controller-manager \
  --address=127.0.0.1 \
  --master=http://127.0.0.1:8080 \
  --allocate-node-cidrs=true \
  --service-cluster-ip-range=10.255.0.0/16 \
  --cluster-cidr=172.16.0.0/16 \
  --cluster-name=kubernetes \
  --leader-elect=true \
  --cluster-signing-cert-file=/var/data/ca/ca.pem \
  --cluster-signing-key-file=/var/data/ca/ca-key.pem \
  --service-account-private-key-file=/var/data/ca/ca-key.pem \
  --root-ca-file=/var/data/ca/ca.pem \
  --v=2
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target